<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Socket.IO chat with bot</title>
	<link rel="stylesheet" href="./main.css">
</head>
<body>
	
	<div id="app">
		
		<ul id="messages">
			<li 
				:key="message + index"
				v-for="(message, index) in MessagesList">
				{{message}}
			</li>
		</ul>

	    <div id="form">
	     	<input 
	     		id="input" 
	     		v-model="inputValue"
	     	/>
	     	<button 
	     		class="btn"
	     		@click="sendMessage"
	     	>Send</button>
	    </div>
	
	</div>


    <script src="/socket.io/socket.io.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="main.js"></script>

</body>
</html>
  